<div class="recipe">
    <div class="recipe-item-image">
        <img src="https://images.unsplash.com/photo-1667279601266-bd0e0a8202f2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8"
            alt="">
    </div>

    <div class="recipe-body">
        <h2 class="recipe-title">Café da Bruma</h2>

        <div class="recipe-author">
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                Mateus Salvador
            </span>
            <span class="recipe-author-item">
                <i class="fas fa-calendar-alt"></i>
                14/11/2025 às 15:30
            </span>
        </div>

        <div class="recipe-content">
            <p>
                Uma experiência artesanal: café filtrado no coador, que ganha leveza e suavidade com uma delicada espuma. O resultado é uma bebida que combina tradição e inovação, trazendo notas intensas equilibradas por uma textura aveludada, como uma névoa que desperta os sentidos.
            </p>
        </div>
    </div>
    <div class="recipe-info">
        <div class="recipe-preparo">
            <h3 class="recipe-preparo-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-info-text">
                27 Minutos
            </div>
        </div>
        <div class="recipe-porcoes">
            <h3 class="recipe-porcoes-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-info-text">
                3 xícaras
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
</div>