{% include 'recipes/partials/head.html' %}

<body>
    <h1>Receitas de {{nome}}</h1>
    <section>
        <div class="receita">
            <h2>Título da receita</h2>
            <img src="https://th.bing.com/th/id/OIP.wtP9GGecRCCo6-nA61S6lAHaE8?w=272&h=181&c=7&r=0&o=7&pid=1.7&rm=3" alt="Imagem da receita">
            
            <div class="desc">
                <div class="ingredientes">
                    <h3>Ingredientes</h3>
                    <ol>
                        <li>Ingrediente 1</li>
                        <li>Ingrediente 2</li>
                        <li>Ingrediente 3</li>
                        <li>Ingrediente 4</li>
                        <li>Ingrediente 5</li>
                        <li>Ingrediente 6</li>
                    </ol>
                </div>
                <div class="preparo">
                    <h3>Modo de preparo</h3>
                    <p>Descrição da receita: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate provident eum beatae nulla magni vel obcaecati porro in totam, tempore est et minus neque quisquam numquam possimus laborum aperiam illo. Placeat, eius hic sint, quia aut repellendus expedita ipsa pariatur cumque ullam laborum officia tempore, deleniti atque. Neque ipsum maiores et quibusdam, possimus deleniti mollitia autem. Omnis eius veritatis, eveniet corporis, ipsam quia enim eum, odio recusandae tempora sapiente ipsa atque quo quam accusantium voluptatem culpa doloribus tempore. Ab ipsam nesciunt sunt ullam molestias harum blanditiis perferendis tenetur! Nobis nostrum blanditiis, natus rerum, quis numquam magnam laudantium quas eius eos deserunt, voluptatem aliquid consequatur! Eius corrupti velit esse.</p>
                </div>
            </div>
        </div>

        <div class="receita">
            <h2>Título da receita</h2>
            <img src="https://th.bing.com/th/id/OIP.wk8Pq5fLpAqPPeSKPn7JAAHaEK?w=300&h=180&c=7&r=0&o=7&pid=1.7&rm=3" alt="Imagem da receita">
            
            <div class="desc">
                <div class="ingredientes">
                    <h3>Ingredientes</h3>
                    <ol>
                        <li>Ingrediente 1</li>
                        <li>Ingrediente 2</li>
                        <li>Ingrediente 3</li>
                        <li>Ingrediente 4</li>
                        <li>Ingrediente 5</li>
                        <li>Ingrediente 6</li>
                    </ol>
                </div>
                <div class="preparo">
                    <h3>Modo de preparo</h3>
                    <p>Descrição da receita: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate provident eum beatae nulla magni vel obcaecati porro in totam, tempore est et minus neque quisquam numquam possimus laborum aperiam illo. Placeat, eius hic sint, quia aut repellendus expedita ipsa pariatur cumque ullam laborum officia tempore, deleniti atque. Neque ipsum maiores et quibusdam, possimus deleniti mollitia autem. Omnis eius veritatis, eveniet corporis, ipsam quia enim eum, odio recusandae tempora sapiente ipsa atque quo quam accusantium voluptatem culpa doloribus tempore. Ab ipsam nesciunt sunt ullam molestias harum blanditiis perferendis tenetur! Nobis nostrum blanditiis, natus rerum, quis numquam magnam laudantium quas eius eos deserunt, voluptatem aliquid consequatur! Eius corrupti velit esse.</p>
                </div>
            </div>
        </div>

        <div class="receita">
            <h2>Título da receita</h2>
            <img src="https://th.bing.com/th/id/OIP.tBH1pkph354RnIQ1vA99QAHaEK?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Imagem da receita">
            
            <div class="desc">
                <div class="ingredientes">
                    <h3>Ingredientes</h3>
                    <ol>
                        <li>Ingrediente 1</li>
                        <li>Ingrediente 2</li>
                        <li>Ingrediente 3</li>
                        <li>Ingrediente 4</li>
                        <li>Ingrediente 5</li>
                        <li>Ingrediente 6</li>
                    </ol>
                </div>
                <div class="preparo">
                    <h3>Modo de preparo</h3>
                    <p>Descrição da receita: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate provident eum beatae nulla magni vel obcaecati porro in totam, tempore est et minus neque quisquam numquam possimus laborum aperiam illo. Placeat, eius hic sint, quia aut repellendus expedita ipsa pariatur cumque ullam laborum officia tempore, deleniti atque. Neque ipsum maiores et quibusdam, possimus deleniti mollitia autem. Omnis eius veritatis, eveniet corporis, ipsam quia enim eum, odio recusandae tempora sapiente ipsa atque quo quam accusantium voluptatem culpa doloribus tempore. Ab ipsam nesciunt sunt ullam molestias harum blanditiis perferendis tenetur! Nobis nostrum blanditiis, natus rerum, quis numquam magnam laudantium quas eius eos deserunt, voluptatem aliquid consequatur! Eius corrupti velit esse.</p>
                </div>
            </div>
        </div>

    </section>
</body>
</html>