<!DOCTYPE html>
<html lang="pt-BR">
    {%include 'recipes/partials/head.html'%}
    
    <body>
    {%include 'recipes/partials/header.html'%}
    <section class="search">
        <div class="container">
            <form action="" class="search-form">
                <input type="text" class="search-input" name="search">
                <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </section>
</body>
</html>